page-home {

  .bg-image {
    background-image: url("../assets/imgs/welcome.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
  }

  .bottom {
    background-color: rgba(25, 5, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 15px;
  }

  .btn {
    text-align: center;
    border-radius: 5px;
    display: inline-block;
  }
}
