page-home {

  .bg-image {
    background-image: url("../assets/imgs/welcome.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .button {
    
    margin: 30% 45%;
  }
}
